*{
	padding: 0px;
	margin: 0px;
}

body {
    background: linear-gradient(to bottom, #1E2A44, #3A4F7A); /* Deep blue gradient */
    color: #FFFFFF; /* White text */
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

main{
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo{
    font-family: 'Orbitron', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.5); /* Cyan glow */
}

form{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-search-text{
	border: 2px solid #00FFFF; /* Neon cyan */
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 18px;
    color: #FFFFFF;
    background: transparent;
    width: 500px;
}

.btn-search {
    background: transparent;
    border: none;
    font-size: 20px;
    transition: color 0.3s;
}

.btn-search:hover svg > path{
	fill: #8A2BE2;
}

svg{
	width: 36px;
	height: 36px;
}
